
<main>
    <div class="note-creator">
        @if (noteIndex == -1) {
            <h4>Create Note</h4>
        }@else{
            <h4>Edit Note</h4>
        }
        <div class="note-creator-element">
            <label for="note-title">Note Title</label>
            <input type="text" name="note-title" [(ngModel)]="noteTitle" [ngClass]="{'error-element': hasTitleError}">
            @if (hasTitleError) {
                <p class="error-text">Title is too short.</p>
            }
        </div>
        <div class="note-creator-element">
            <label for="note-content">Note Content</label>
            <textarea name="note-content" [(ngModel)]="noteContent" [ngClass]="{'error-element': hasContentError}"></textarea>
            @if (hasContentError) {
                <p class="error-text">Note Content is too short.</p>
            }
        </div>
        <div class="btn-holder">
            @if (noteIndex == -1) {
                <button class="create-btn btn" (click)="createNote()">Create Note</button>
            }@else {
                <button class="edit-btn btn" (click)="saveChanges()">Edit Note</button>
                <button class="reset-btn btn" (click)="resetState()">Go To New Note</button>
            }
        </div>
    </div>
    
    <div class="note-viewer">
            @for (note of notes; track $index) {
                <div class="note-viewer-element">
                    <div class="note-viewer-group">
                        <label>{{note.title}}</label>
                        <textarea disabled>{{note.content}}</textarea>
                    </div>
                    
                    <div class="btn-holder">
                        <button class="edit-btn btn" (click)="editNote(note)">Edit</button>
                        <button class="delete-btn btn" (click)="deleteNote(note.index)">Delete</button>
                    </div>
                </div>
            }
    </div>
</main>

